astroid>=3.2.2
black>=24.4.2
click>=8.1.7
colorama>=0.4.6
coloredlogs>=15.0.1
dill>=0.3.8
flake8>=7.0.0
isort>=5.13.2
lxml>=5.2.2
mccabe>=0.7.0
mypy-extensions>=1.0.0
numpy>=1.26.4
packaging>=24.0
pandas>=2.2.2
pathspec>=0.12.1
platformdirs>=4.2.2
pycodestyle>=2.11.1
pyflakes>=3.2.0
pylint>=3.2.2
setuptools>=70.0.0
tomlkit>=0.12.5
wheel>=0.43.0

# Local package
./wheels/nfl_data_py-0.4.0-py3-none-any.whl
./wheels/sportsipy-0.6.0-py3-none-any.whl