beautifulsoup4
black
colorama
coloredlogs
flake8
isort
lxml
numpy
pandas
playwright
pyarrow
pylint
requests
scikit-learn
scipy
setuptools
wheel
xgboost

# Local package
./wheels/sportsipy-0.6.0-py3-none-any.whl
