appdirs==1.4.4
astroid==3.2.2
asttokens==2.4.1
black==24.4.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
cramjam==2.8.3
cssselect==1.2.0
debugpy==1.8.2
decorator==5.1.1
dill==0.3.8
executing==2.0.1
fastparquet==2024.5.0
flake8==7.1.0
fsspec==2024.6.1
greenlet==3.0.3
humanfriendly==10.0
idna==3.7
ipykernel==6.29.4
ipython==8.25.0
isort==5.13.2
jedi==0.19.1
joblib==1.4.2
jupyter_client==8.6.2
jupyter_core==5.7.2
lxml==5.2.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
numpy==2.0.0
packaging==24.1
pandas==2.2.2
parso==0.8.4
pathspec==0.12.1
platformdirs==4.2.2
prompt_toolkit==3.0.47
psutil==6.0.0
psycopg2-binary==2.9.9
pure-eval==0.2.2
pycodestyle==2.12.0
pyflakes==3.2.0
Pygments==2.18.0
pylint==3.2.5
pyquery==2.0.0
pyreadline3==3.4.1
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
pyzmq==26.0.3
requests==2.32.3
scikit-learn==1.5.0
scipy==1.14.0
setuptools==70.1.1
six==1.16.0
SQLAlchemy==2.0.31
stack-data==0.6.3
threadpoolctl==3.5.0
tomlkit==0.12.5
tornado==6.4.1
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wcwidth==0.2.13
wheel==0.43.0
xgboost==2.1.0

# Local package
./wheels/nfl_data_py-0.4.0-py3-none-any.whl
./wheels/sportsipy-0.6.0-py3-none-any.whl
